<div class="drinks-list">
  <% if @drinks.size == 0 %>
    <h4>Nenhum resultado encontrado</h4>
  <% else %>
    <div class="result-info">
      <div class="result-info-badge">
        <%= @drinks.size %> <%= 'Suggestion'.pluralize @drinks.size %>  
      </div>
      <div class="result-info-badge new-recommendation">
        <%= link_to 'javascript:;', id: "new-recommendations-btn", remote: true do %>
          New Drink recommendation
        <% end %>
      </div>
    </div>
    <% @drinks.each do |drink| %>
      <div class="card drink-card">
        <%= image_tag drink.image_url, class: 'drink-card__img' %>
        <div class="drink-card__body">
          <h2><%= drink.name %></h2>
          <p><%= drink.description %></p>
          <div>
            <div class="drink-tag"><%= drink.base_ingredient.humanize %></div>
            <div class="drink-tag"><%= drink.temperature.humanize %></div>
            <div class="drink-tag"><%= drink.distilled ? 'Distilled' : 'Fermented' %></div>
            <div class="drink-tag">
              <i class="fas fa-star"></i> <%= drink.rating_avg.to_f%>
            </div>
          </div>  
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>

$('#new-recommendations-btn').click(function() {

  $(".advanced-form").html("<%= escape_javascript(render partial: 'preferences_form') %>");
});
  
</script>